header {
  // background-color: #014c6b;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #00262f;
  box-shadow: 0 0 10px rgba(120, 120, 120, 0.7);
  padding: 30px 0;
  position: fixed;
  width: 70px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;

  &__logo {
    height: 30px;
    &__image {
      height: 100%;
    }
  }

  &__menu {
    list-style: none;

    &__description {
      position: absolute;
      top: 50%;
      left: 35px;
      transform: translate(-150px, -50%);
      opacity: 0;
      font-size: 14px;
      color: #ff8100;
      white-space: nowrap;
      padding: 10px 10px 10px 20px;
      background-color: #00262f;
      transition: all 0.2s ease-in-out;
      z-index: 1;
    }
    i {
      font-size: 22px;
    }
    li {
      position: relative;
      z-index: 10;
      margin-bottom: 10px;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #014c6b;
        padding: 10px 5px;
        transition: all 0.2s ease-in-out;
        &.active {
          .navbar__menu__description,
          i {
            color: #fff;
          }
        }
      }
    }

    &__btn {
      width: 35px;
      padding: 10px 0 3px;
      text-align: center;
      cursor: pointer;
      display: none;
      div {
        height: 3px;
        background-color: #fff;
        margin-bottom: 7px;
        transition: all 0.2s ease-in-out;
      }
    }
  }

  &__socials {
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #014c6b;
      padding: 10px 5px;
      transition: all 0.2s ease-in-out;
    }
    i {
      font-size: 20px;
    }
  }
}

.navbar__menu li:hover .navbar__menu__description {
  transform: translate(0, -50%);
  opacity: 1;
  z-index: 3;
}
.navbar__menu li a:hover,
.navbar__socials a:hover {
  color: #ff8100;
}

.navbar__menu__btn.clicked {
  div:first-child {
    transform: translate(7px, 0) rotate(45deg);
    transform-origin: left top;
    background-color: #ff8100 !important;
    z-index: 20;
  }
  div:nth-child(2) {
    transform: scale(0);
  }
  div:last-child {
    transform: translate(-4px, -21px) rotate(-45deg);
    transform-origin: right bottom;
    background-color: #ff8100 !important;
    z-index: 20;
  }
}
